{
  "presets": [
      "es2015",
      "next/babel",
      "stage-0"
  ],
  "plugins": [
    ["emotion/babel", { "inline": true }],
    ["inline-react-svg"],
    ["module-alias",
      [
        { "src": "./common", "expose": "common" },
        { "src": "./models", "expose": "models" },
        { "src": "./components", "expose": "components" },
        { "src": "./pages", "expose": "pages" },
        { "src": "./static", "expose": "static" },
        { "src": "./lib", "expose": "lib" },
      ]
    ],
    ["module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
    }],
    ["wrap-in-js", { "extensions": ["css$", "scss$"] }],
  ]
}
